//стили для header

header{
   background-color: black;
}

.header__container{
   display: flex;
   justify-content: space-between;
   position: relative;


   &__left {
      padding: 30px;

      & a {
         text-decoration: none;
         color: white;

         &:hover{
            color: yellow;
         }
      }
   }

   &__right {
      padding: 30px;
   }
}

.cart{
   position: absolute;
   right: 0;
   top: 90px;
   display: flex;
   flex-direction: column;   
   width: 40%;
   background-color: yellow;
}

.close {
   display: none;
}

.open {
   display: block;
}

//стиль для кнопки корзины
.cart__button{
   padding: 5px;
   border-radius: 6px;
   border-color: transparent;

   &:hover{
      cursor: pointer;
      background-color: yellow;
      transition: 1s;
   }

   &:active {
      background-color: blue;
   }
}


//стили для блоков корзины
.cart__item{
   display: flex;
   flex-direction: column;
   width: 90%;
   align-items: center;
   gap: 10px;
   border: 1px solid black;
}